<!doctype html>
<html lang="en">

<body>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Montserrat&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
      integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
      crossorigin="anonymous"></script>

    <title>Miranda Regan's Portfolio</title>

  </head>

  <div id="title" class="container-fluid">
    <div class="row titleBar1"></div>
    <div class="row titleBar2"></div>
    <div class="row titleBar3"></div>
    <div class="row titleBar4">
      <h1>Miranda Regan's Portfolio</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div id="app" class="col-sm-12 mywell">
          <h2>Projects</h2>
          <button v-on:click="backward()" class="customButton">
            <</button> <div><img class="projectsImg" v-bind:src="projectInView.image">
              <div class="center">
                <a v-if="projectInView.demo != ''" v-bind:href="projectInView.demo"><i
                    class="fas fa-desktop iMargin"></i>Demo</a>
                <a v-if="projectInView.github != ''" v-bind:href="projectInView.github"><i
                    class="fab fa-github iMargin"></i>GitHub</a>

              </div>
        </div>
        <button v-on:click="forward()" class="customButton">></button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-12 mywell">
        <h2>About Me</h2>

        <img id="aboutMe" alt="A picture of me." class="smallImg" src="me.jpg">

        <p>
          I'm a creator. Whether that's creating new art, new worlds, or new solutions to problems, I'm happiest when
          I'm molding life into new shapes. Now I'm expanding into the brave new medium of
          programming with the help of <a href = "https://www.techelevator.com/" target = "_blank">Tech Elevator</a>. Currently I'm looking for a web or software development position where
          I'll be challenged to grow in my new skills and be able to apply my creativity and attention to detail.
        </p>

        <hr class="hr-border">
        <div class="center">
          <a href="https://www.linkedin.com/in/miranda-regan-1933223a/" target="_blank"><i
              class="fab fa-linkedin iMargin"></i>LinkedIn</a>
          <a href="miranda.regan.pdf" target="_blank"><i class="far fa-file-pdf iMargin"></i>Resume</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col middleBar">

      <h2>Words to Code</h2>
      <p class="p-subtitle">A Blog About My Adventures in Tech Elevator and Learning to Program</p>
      <hr class="hr-border">
      <h3>Recent Posts</h3>

      <script
        src="//rss.bloople.net/?url=http%3A%2F%2Fwordstocode.blogspot.com%2Ffeeds%2Fposts%2Fdefault%3Falt%3Drss&detail=50&limit=4&showtitle=false&striphtml=true&type=js"></script>
    </div>
  </div>

  <div class="row">
    <div class="col bottomBar">

      <a href="https://www.instagram.com/inkworlds/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/MiraAstar" target="_blank"><i class="fab fa-twitter-square iMargin"></i></a>
    </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="javascript.js"></script>
</body>

</html>