

body {
  background-color: #594A41;
}

a:link {
  color: #5F7A6B;
}

a:hover {
  color:  #A894A4;
}

a:visited:hover {
  color:  #A894A4;
}
a:visited {
  color: #A894A4;
}

.iMargin {
  margin-right: 3px;
}

.titleBar1 {
  background-color: #5F7A6B;
  height: 75px;
}


h1 {
  
  color: #E8B99E;
  font-family: 'Homemade Apple', cursive;;
  margin-top: 46px;
  padding-left: 1%;
}

h2 {
  color:  #594A56;
  text-align: center;
  font-weight: bold;
  font-family: 'New Tegomin', serif;
}

h3 {
  color:  #594A56;
  text-align: center;
  font-family: 'Homemade Apple', serif;  
}

h4 {
  color:  #594A56;
  text-align: center;
  font-family: 'Homemade Apple', serif;
}

p {
  color:  #594A56;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.p-subtitle {
  font-size: 14px;
  font-style: italic;
}

.mywell {

  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-top: 45px;
  background-color: #E8B99E;
}

.smallImg {
  width: 200px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-width: 10px;
  border-color: #594A56;
  border-style: double;

}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.projectsImg {
  /* border-radius: 10px; */
  height: 300px;
  display: block;
  margin: 10px auto;
  /* border-width: 10px;
  border-color: #594A56;
  border-style: double; */
}

.customButton {
  display: block;
  margin: 5px auto;
  font-family: 'Montserrat', sans-serif;
  
}


.middleBar {
  /* background-color: #5a3921; */
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 30px;
  margin: 25px 15px 0px 15px;
  border-radius: 10px;
  font-size: 35px;
  text-align: center;
}

.bottomBar {
  
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin: 25px 15px 10px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 35px;
  text-align: center;
}

.hr-border {
  border-top: 1px solid #3a9679;
  width: 30%;
}

.feed-item-title {
  
  font-size: 16px;
  padding-bottom: 5px;
}

.feed-item-desc {

  font-size: 14px;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}